<div class="formBody">
  <h1>Confirm account</h1>

  <.form let={_f} for={:user} action={Routes.user_confirmation_path(@conn, :update, @token)}>
    <div>
      <%= submit "Confirm my account", class: "question-save-button margin-bottom3" %>
    </div>
  </.form>
</div>

