<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "FkcElixir", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/trix/1.3.1/trix.min.css" integrity="sha512-5m1IeUDKtuFGvfgz32VVD0Jd/ySGX7xdLxhqemTmThxHdgqlgPdupWoSN8ThtUSLpAGBvA8DY2oO7jJCrGdxoA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/trix/1.3.1/trix.js" integrity="sha512-/1nVu72YEESEbcmhE/EvjH/RxTg62EKvYWLG3NdeZibTCuEtW5M4z3aypcvsoZw03FAopi94y04GhuqRU9p+CQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://kit.fontawesome.com/0b34e5cadc.js" crossorigin="anonymous"></script>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>

  </head>
  <body >
    <%= render "_user_menu.html", assigns %>
    
    <%= @inner_content %>
    <footer>
      <div class="footerPadding bodyContainer">
        <div class="flex justify-content">
          <div>
            <nav>
              <a href="">About</a>
              <a href="">Privacy policy</a>
              <a href="">Terms of use</a>
              <a href="">API</a>
            </nav>
          </div>
          <div>
            <a class="language" href="#">language</a>
          </div>
        </div>
        <div class="flex justify-content white">
          <div>
            <p>&copy;Excluding logos,this site is licensed under a <span>Creative Commons</span> license</p>
          </div>
        </div>
      </div>
    </footer>

    
  </body>
  
</html>
