<.modal return_to={@return_to}>
  <.live_component
    module={FkcElixirWeb.QuestionLive.FormComponent}
    id={@question.id || :new}
    title={@page_title}
    action={@live_action}
    question={@question}
    current_user={@current_user}
    return_to="/"
  />
</.modal>