<.modal return_to={Routes.question_index_path(@socket, :index)}>
    <.live_component
      module={FkcElixirWeb.QuestionLive.FormComponent}
      id={@question.id || :new}
      title={@page_title}
      action={@live_action}
      question={@question}
      current_user={@current_user}
      return_to={Routes.question_index_path(@socket, :index)}
    />
  </.modal>